/* 引入 Platino 字体 */
@import url('https://fonts.googleapis.com/css2?family=Platino:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Platino', serif, 'DengXian', sans-serif; /* 设置中文和英文字体 */
    background-color: #121212;
    color: #fff;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 3rem;
    color: #00bcd4;
}

p {
    font-size: 1.2rem;
}

main {
    max-width: 900px;
    margin: 0 auto;
}

#blog-list h2 {
    font-size: 2rem;
    color: #00bcd4;
    margin-bottom: 20px;
}

article {
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

article h3 {
    font-size: 1.8rem;
    color: #00bcd4;
    margin-bottom: 10px;
}

article p {
    font-size: 1rem;
    color: #bbb;
}

a {
    text-decoration: none;
    color: #00bcd4;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 50px;
    color: #aaa;
}
